XML/src/main/java/car.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.kodilla.com">

    <xs:element name="Aveo" type="xs:string"/>
    <xs:element name = "Chevrolet" type="xs:string"/>
    <xs:element name = '1.2' type="xs:decimal"/>
    <xs:element name = '2007' type="xs:integer"/>
    <xs:element name = "speed &lt; 60 &amp; &gt; 30" type="xs:string"/>
    <pattern value = "&quot;|'This is rather city small car."/>

</xs:schema>